.conatiner
  span.numer 4
  .circle
    .drops
    .drops
    .hand
    .hand.rgt
    .holder
      .bob
        .nose
        .face
          .mouth
            .tongue
        .ear
        .ear.rgt
        .neck
      
  span.numer 4
      
    
    
    